streamlit
pandas
numpy
plotly
pydantic
pydantic-settings
sqlalchemy
python-dotenv
requests
streamlit-authenticator
streamlit-extras
pymongo
bcrypt
streamlit-option-menu
huggingface_hub>=0.24
Pillow>=9.0
